<div class="panel panel-default">
	<div class="panel-heading">
	Téléphone
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6 legend">Combiné</div>
			<div class="col-xs-6 legend">{{telephone.combine}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6 legend">Sonnerie</div>
			<div class="col-xs-6 legend">{{telephone.sonnerie}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6 legend">Etat</div>
			<div class="col-xs-6 legend">{{telephone.etat}}</div>
		</div>
	</div>
</div>
